body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bea18e;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #510000;
    color: white;
    padding: 8px;
}

.left-nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.left-nav ul i {
    font-size: 1.5rem;
}

.right-nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.right-nav :hover {
    border: 2px solid white;
    border-radius: 4px;
}

.nav2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #9B2E41;
    padding: 0%;
    margin: 0 3px 0 3px;
    height: 3.5rem;
}

.left-nav2 h2 {
    font-size: 1.5rem;
    margin-left: 4rem;
    color: black;
}

.left-nav2 {
    width: 40%;
    margin-bottom: 0%;
}

.right-nav2 {
    width: 60%;
    margin-bottom: 0;
}

.right-nav2 ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero-section {
    margin-top: 0;
    height: 20rem;
    background-image: url(business\ 1.jpg);
    background-size: cover;
    font-size: 1.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-line,
.seond-line,
.third-linne {
    margin-bottom: 10px;
}

.launching {
    height: 40%;
    background-color: #9b2e41;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1px 1px 0px 1px;
}

.launching h2 {
    margin: 5px 0;
    padding: 5px;
}

.aboutus {
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.left-para {
    flex: 1;
    padding-right: 20px;
    font-size: 1.25rem;
}

.right-para img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.services {
    display: flex;
    justify-content: space-evenly;
}

.services p {
    position: relative;
    margin: 0;
}

.services img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border-radius: 10px;
}

button:hover {
    border: 3px solid black;
}
